.card__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.card__container {
  height: 600px;
  background: #ffff;
  box-shadow: 5px 5px 5px grey;
  border-radius: 20px;
  transition: 0.3s;
}
.icon {
  font-size: 2.5em;
}
.card__container:hover {
  background-color: #3578e5;
  color: white;
}
.card__container:hover .icon {
  color: white;
}
.card__container:hover .card-btn {
  background-color: white;
  color: #3578e5;
  outline: none;
  border: none;
}
.card-btn:focus {
  outline: none;
  border: none;
}

.media__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
