.card__img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.card__container {
  height: 510px;
  background: #ffff;
  box-shadow: 5px 5px 5px grey;
  border-radius: 20px;
  transition: 0.5s;
}
.card__container:hover {
  background-color: #3578e5;
  /* background: #f06292; */
  color: white;
}
